<div>
  <a
    aria-hidden="true"
    class="image-field"
    href="{{- .Params.url -}}"
    rel="external"
    role="img"
    target="_blank"
  >
    {{- $imgResource := resources.Get (strings.TrimPrefix "/" .Params.img) -}}
    {{- $image := .Params.img | absURL -}}

    {{- if $imgResource -}}
      {{- $image = ($imgResource.Resize "200x200").Permalink -}}
    {{- end -}}

    <img alt="{{- .Params.alt -}}" src="{{- $image -}}" />

    <div>
      <label>{{- .Params.label -}}</label>
      <p>{{- .Params.text -}}</p>
      <p>{{- .Params.subtext -}}</p>
    </div>
  </a>
</div>
