{{- define "hero" -}}
  {{- partial "hero.html" . -}}
{{- end -}}

{{ define "main" }}
  <h1
    style="view-transition-name: title-{{- .File.UniqueID -}}"
  >
    {{- .Title -}}
  </h1>

  {{- $imgResource := resources.Get (strings.TrimPrefix "/" .Params.imgSrc) -}}
  {{- $image := .Params.imgSrc | absURL -}}

  {{- if $imgResource -}}
    {{- $image = ($imgResource.Resize "768x432").Permalink -}}
  {{- end -}}

  <img
    alt="{{ .Params.imgAlt}}"
    class="project__image"
    src="{{ $image }}"
    style="view-transition-name: img-{{- .File.UniqueID -}}"
  />

  <p
    style="view-transition-name: teaser-{{- .File.UniqueID -}}"
  >
    {{- .Params.teaserText -}}
  </p>

  <hr />

  {{ .Content }}

  <hr />

  <a
    class="repository"
    href="{{- .Params.repository -}}"
    rel="noopener noreferrer"
    target="_blank"
  >
    {{- readFile "static/icons/github.svg" | safeHTML -}}

    {{- .Params.repository -}}
  </a>

  <div
    class="tags"
    style="view-transition-name: tags-{{- .File.UniqueID -}}"
  >
    {{- range .Params.Tags | sort -}}
      <a class="tag" href="{{- printf "/tags/%s" . | relLangURL -}}">
        {{- $iconPath := printf "static/icons/%s.svg" . -}}
        {{- $iconContent := readFile $iconPath -}}

        {{- if $iconContent -}}
          {{- $iconContent | safeHTML -}}
        {{- else -}}
          {{- warnf "Icon %s not found" $iconPath -}}
        {{- end -}}

        {{- i18n (printf "tags.%s" .) -}}
      </a>
    {{- end -}}
  </div>
{{ end }}
