{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <p>{{ .Content }}</p>

  {{ range .Pages }}
    <hr />

    <section class="project">
      {{- if .Params.imgSrc -}}
        <img
          alt="{{ .Params.imgAlt}}"
          class="project__image"
          src="{{ .Params.imgSrc }}"
        />
      {{- end -}}

      <div class="project__details">
        <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
        <p>{{- .Params.teaserText -}}</p>
      </div>
    </section>
  {{ end }}
{{ end }}
