{{- define "main" -}}
  <h1>{{ .Title }}</h1>
  <p>{{ .Content }}</p>

  {{- range .Pages -}}
    <hr />

    <section>
      <a class="project" href="{{ .RelPermalink }}">
        <div class="project__image">
          {{- $imgResource := resources.Get (strings.TrimPrefix "/" .Params.imgSrc) -}}
          {{- $image := .Params.imgSrc | absURL -}}

          {{- if $imgResource -}}
            {{- $image = ($imgResource.Resize "512x288").Permalink -}}
          {{- end -}}

          <img
            alt="{{ .Params.imgAlt}}"
            src="{{ $image }}"
            style="view-transition-name: img-{{- .File.UniqueID -}}"
          />
        </div>

        <div class="project__details">
          <h2
            style="view-transition-name: title-{{- .File.UniqueID -}}"
          >
            {{- .LinkTitle -}}
          </h2>

          <p
            style="view-transition-name: teaser-{{- .File.UniqueID -}}"
          >
            {{- .Params.teaserText -}}
          </p>

          <div
            class="tags"
            style="view-transition-name: tags-{{- .File.UniqueID -}}"
          >
            {{- range .Params.Tags | sort -}}
              <span class="tag">
                {{- $iconPath := printf "static/icons/%s.svg" . -}}
                {{- $iconContent := readFile $iconPath -}}

                {{- if $iconContent -}}
                  {{- $iconContent | safeHTML -}}
                {{- else -}}
                  {{- warnf "Icon %s not found" $iconPath -}}
                {{- end -}}

                {{- i18n (printf "tags.%s" .) -}}
              </span>
            {{- end -}}
          </div>
        </div>
      </a>
    </section>
  {{- end -}}
{{- end -}}
