.header {
  inset-block-start: 0;
  line-height: 1;
  padding: 0 var(--spacing-md);
  position: fixed;
  view-transition-name: header;
  width: 100%;
  z-index: 10;
}

.header + * {
  margin-block-start: 7rem;
}

.header + .hero {
  margin-block-start: 0;
}

@media print {
  .header {
    display: none;
  }

  .header + * {
    margin-block-start: 0;
  }
}

.header__inner {
  align-items: center;
  background: var(--color-header-bg);
  border-radius: var(--border-radius-full);
  display: flex;
  gap: var(--spacing-md);
  justify-content: space-between;
  margin: var(--spacing-md) 0;
  padding: var(--spacing-md) var(--spacing-lg);
  position: relative;
}

@media (max-width: 45rem) {
  .header__inner {
    gap: var(--spacing-sm);
    padding: var(--spacing-md);
  }
}

.header__inner::before {
  backdrop-filter: blur(1rem);
  border-radius: inherit;
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
}

.header__title {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  gap: var(--spacing-sm);
}

.header__title > img {
  height: 3rem;
}

@media (max-width: 45rem) {
  .header__title {
    font-size: 1.2rem;
  }

  .header__title > img {
    height: var(--spacing-xxl);
  }
}

.header h1 {
  color: var(--color-header-fg);
  font-size: 1.5rem;
  margin: 0;
}

@media (max-width: 45rem) {
  .header h1 {
    font-size: 1rem;
  }
}

.header ul {
  margin: 0;
  padding: 0;
}

.header ul li {
  list-style: none;
}

.header a {
  color: var(--color-header-fg);
  text-decoration: none;
}
