.hero {
  background-image: var(--bg-img);
  background-size: cover;
  background-position: 50%;
  display: flex;
  margin-block-end: -2.75rem;
  min-height: 32rem;
  position: relative;
}

.hero::before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  inset: 0;
  pointer-events: none;
  position: absolute;
}

.hero > .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 7rem var(--spacing-xl) 1.75rem var(--spacing-xl);
  z-index: 1;
}

@media (max-width: 45rem) {
  .hero > .container {
    grid-template-columns: 1fr;
  }
}

.hero__info {
  margin-block: auto;
}

@media (max-width: 45rem) {
  .hero__info {
    margin-block-end: 0;
  }
}

.hero__info * {
  color: #fff;
}

.hero__info h1,
.hero__info h2 {
  text-shadow: 2px 2px black;
}

.hero__info h1 {
  font-size: 2.75rem;
  margin: 0;
}

.hero__info h2 {
  font-size: 2rem;
  margin-block-end: var(--spacing-lg);
}

.hero__img {
  height: 16rem;
  margin: auto auto 0 auto;
  width: 16rem;
}

@media (max-width: 45rem) {
  .hero__info h1 {
    font-size: 2rem;
  }

  .hero__info h2 {
    font-size: 1.25rem;
  }

  .hero__img {
    height: 10rem;
    margin-inline-end: 0;
    width: 10rem;
  }
}

@media print {
  .hero {
    background: none;
    border-block-end: 1mm solid var(--color-hr);
    margin-block-end: 0;
    min-height: 16rem;
  }

  .hero > .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-block: 0;
  }

  .hero .btn {
    display: none;
  }

  .hero::before {
    background: white;
  }

  .hero__info {
    margin-block-end: auto;
  }

  .hero__info * {
    color: var(--color-primary);
  }

  .hero__info h1,
  .hero__info h2 {
    text-shadow: none;
  }

  .hero__img {
    height: 12rem;
    width: 12rem;
  }
}
