.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
}

.tag,
a.tag {
  align-items: center;
  background: var(--color-tag-bg);
  border: 1px solid var(--color-tag-border);
  border-radius: var(--border-radius-full);
  box-shadow: var(--shadow-md);
  color: var(--color-tag-fg);
  display: flex;
  font-size: 0.9rem;
  gap: var(--spacing-sm);
  line-height: 1.2;
  padding: var(--spacing-xs) calc(var(--spacing-xs) * 3);
  text-decoration: none;
}

.tag > svg {
  height: var(--spacing-md);
  width: var(--spacing-md);
}

.tag-titles {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxl);
}

.tag-titles__title {
  align-items: center;
  display: flex;
  gap: var(--spacing-md);
  margin: 0;
}

.tag-titles__title > svg {
  height: var(--spacing-xxl);
  width: var(--spacing-xxl);
}
